@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quick-sand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.body{
    color: White;
}


/* shared style */

.color-1{
    color: orange;
    
}
.color-2{
color: skyblue;
}
.color-3{
color: #05D4DF;
}
.color-4{
color: #5D58EF;
}


.btn-primary{
    background-color: orange;
    color:white;
    font-weight:600;
    font-size: 20px;
    padding: 10px 10px;
    width: 197px;
    height: 50px;
    border-radius: 12px;
    border: none;
   
}


.text-center{
   text-align: center;
}



/* nav styles */
nav{
    
    display: flex;
    justify-content: space-between;
   align-items: center;
    margin: 0px 40px ;
    
}
nav img {
    width: 62px;
    height: 62px;
    margin-right: 20px; 
}
.nav-title{
    gap: 20px;
    font-weight: 700;
    font-size: 32px;
   margin-right: 300px;
   
   
}
nav ul li {
    list-style: none;
    margin-right: 51px;
    align-items: center;
    
    }
    nav li a{
        text-decoration: none;
        font-size: 20px;
        font-weight: 600px;
        
    }
    nav ul{
        display: flex;
        align-items: center;
        
        }
        /* banner style */
        .banner{
            display: flex;
            justify-content: space-between;
            margin: 0 40px 0 40px;
        }
        .banner-content{
            max-width: 640px;
        }
        
        .banner-title{
            font-weight: bold;
            font-size: 56px;

        }
        .banner-description{
            font-weight: 400;
            font-size: 20px;
        }
        .banner-pic{
            width: 468.61;
        }

        .banner .banner-button{
            background-color: black;
            color: white;
            
    font-weight:600;
    font-size: 20px;
    padding: 10px 10px;
    width: 197px;
    height: 50px;
    border-radius: 12px;
    border: none;
}
.main, {
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    
   
}

.view-all{
    text-align: center;
}
main section{
    margin-top: 120px;
    margin-bottom: 120px;
}



/* curriculums section styles */

.section-title{
    font-weight: bold;
    font-size: 46px;
}
.curriculum-title{
    font-weight: bold;
    font-size: 24px;
}

.curriculums-container{
    display: flex;
    gap: 24px;
    width: 367.8;
    height: 476.78;
}

.curriculum{
    padding: 30px;
    font-weight: 400px;
    font-size: 15.09;
    border-radius: 10px;
    
    text-align: center;
    
    
width: 286.26;
    height: 74.51;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}

/* stories-container */

.section-title{
    text-align: center;
}

.stories-container{
    display: flex;
    gap: 15px;
}
.story{
    
    text-align: start;
    padding: 30px;
    border-radius: 10px;

}
.story, .v-all{
    align-items: center;
}
/* footer style */


.footer-column p{

font-weight: 400px;
font-size: 20px;
width: 399.02px;
height: 100px;
color: white;
margin-bottom: 10px;
}
.secondary-bg {
    background-color: #01ACFD; 
    padding: 30px 20px; 
    display: flex;
    justify-content: space-between; /
    align-items: flex-start; 
    flex-wrap: wrap; 
    color: white; 
}
    
    
    
    
.section-title {
    font-weight: bold;
    font-size: 36px; 
    margin-bottom: 10px; 
    width: auto; 

}
    .social-title{
        text-align: top;
        
    }

    .About-title{

        text-align: center;
        color: white;

        
    }
    .social-icon{
       text-align: end;
       
    }
    
    
    
    
    .footer-column-2 ul li{
        
        list-style: none;
        
    }
    .footer-column-2 li a{
        
text-decoration: none;
color: white;
margin-bottom: 50px;
font-weight: 400px;
font-size: 20px;
 }

 


@media (max-width: 576px) {
    
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    
    .banner {
        flex-direction: column; 
        text-align: center;
    }

    .banner-content {
        margin-bottom: 20px;
    }

    .banner-pic {
        max-width: 100%; 
        height: auto;
    }

   
    .curriculums-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .curriculum {
        margin-bottom: 20px;
        text-align: center;
    }

    .curriculum img {
        width: 100%; 
        height: auto;
    }

    
    .stories-container {
        flex-direction: column;
    }

    .story {
        margin-bottom: 20px;
        text-align: center;
    }

    
    footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        margin-bottom: 20px;
    }

    .social-icon .Icon {
        display: flex;
        justify-content: center;
    }

    .social-icon .Icon a {
        margin: 0 5px;
    }
}

    